<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sayHello</title>
</head>
<body>
<h2>Today : {{ "now " | date("d/m/Y") }} is a good day</h2>
<h1>just saying hello {{ nom | capitalize}}   </h1>
<img src="{{ asset('assets/images/IMG_9846.jpg') ~ path |defaultImage}}">
</body>
</html>